/* @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search'); */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
INTERATIVO
font-family: "Roboto", sans-serif; 

MUDAR Q TA RUIM ✋🚫

TEXTO
font-family: "Onest", sans-serif;

TÍTULO
font-family: "Lilita One", sans-serif; 
*/

/* Componentes padrão */
@import url('./vars.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--text-font);
    color: aliceblue;
    background-color: var(--default-grey-bg);
}

a.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
}

.material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}


.mobile-only{
    display: None;
}

body{
    background-image: url('./main-bg.jpg');
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1{
    margin-top: 50px;
}

body > p{
    text-align: center;
    margin: 5px 20px;
}

main{
    width: clamp(270px, 960px, 95vw);
    min-height: 100vh;
    background-color: var(--default-grey-bg);
    padding: 30px;
    border-radius: 15px;
    margin: 25px 0;
}

main h2{
    margin: 15px 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}

main h3{
    margin: 25px 0 10px 0;
}

main h4{
    margin: 10px 0
}

main a{
    color: var(--default-text-color-blue);
    text-decoration: none;
}

main p{
    margin: 0 0 10px 0;
    opacity: 0.9;
}

main a:hover{
    text-decoration: underline;
    cursor: pointer;
}

main img{
    margin: 15px 0;
    border-radius: 10px;
    max-width: 100%;
}

main span{
    display: block;
}

header{
    display: flex;
    width: 100vw;
    justify-content: start;
    padding: 20px;
}

header img{
    width: clamp(120px, 30vw, 300px);
}

i.highlight-class{
    background-color: #2d263f;
    color: #5bd2a5;
    padding: 3px;
    border-radius: 5px;
}

i.highlight-method{
    background-color: #2d263f;
    color: #5bd2a5;
    padding: 3px;
    border-radius: 5px;
}


@media screen and (max-width: 960px){
    body{
        min-width: 100vw;
        min-height: 100vh;
        overflow-y: auto;
    }
    header{
        padding: 10px;
        justify-content: start;
        height: fit-content;
    }
}